<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title data-th-text="#{title.lostPassword}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../../../resources/assets/css/bootstrap.min.css" data-th-href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link href="../../../resources/assets/css/custom.css" data-th-href="@{/assets/css/custom.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div data-th-include="layout :: head"></div>

        <div class="container">
            <div data-th-if="${msg}" data-th-utext="#{${msg}}" class="alert alert-info"></div>
            <div data-th-if="${msgSended}" data-th-utext="#{msg.lostPassword.emailSended(${expiration}, #{${expirationUnit}})}" class="alert alert-success"></div>
            <div data-th-if="!${showOnlyMsg}">
                <div class="text-justify"><p data-th-text="#{lostPassword.info}">Lost password info</p></div>
                <form action="#" method="post" data-th-object="${emailWrapper}" data-th-action="@{/account/lost-password}" class="form-horizontal" novalidate="">                    
                    <div class="form-group" data-th-classappend="${#fields.hasErrors('email')}? has-error">
                        <div class="col-sm-3 col-sm-offset-3">
                            <input type='email' name='email' data-th-field="*{email}" class="form-control" data-th-placeholder="#{form.input.placeholder.enter} + ' ' + #{form.email}" autofocus="" />                                                
                        </div>
                        <!--<div class="help-block" data-th-if="${errors}" data-th-utext="${errors}">Mail error</div>-->        
                        <div class="help-block col-sm-3" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">Mail error</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                        <!--<div>-->
                            <button type="submit" class="btn btn-primary" data-th-text="#{account.lostPassword.send}">Submit</button>
                            <!--<a data-th-href="@{/}" class="btn btn-default" data-th-text="#{form.cancel}">Cancel</a>-->
                        </div>
                    </div>
                </form>
            </div>            
        </div>

        <footer data-th-include="layout :: foot"></footer>

        <div data-th-replace="layout :: bottom-scripts"></div>
    </body>
</html>
